@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

body{
    background-image: url(bgc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Form Section*/
.heading{
  padding: 3%;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif;
}
.heading h2{
  background-color: transparent;
  padding: 2.5%;
  width: 80%;
  margin-left: 100px;
  text-align: center;
  color: #15ff00;
  border: 2px solid black;
}
.footer .container{
    margin-left: 25px;
}
    

.footer input,
textarea {
    font-family: "Poppins", sans-serif;
}
.footer{
  background-color: tr;
}
.footer .form {
  width: 100%;
  margin-bottom: 15%;
  margin-left: 11%;
  max-width: 900px;
  background-color: rgba(248, 192, 8, 0.815);
  border-radius: 10px;
  box-shadow: 0 0 20px 4px rgba(123, 1, 238, 0.582);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Poppins", sans-serif;
  z-index:10;
}
.footer .contact-form {
  background-color: #1abc9c;
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-right: 10px;
}

.footer .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}
.footer .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.footer .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}
.footer .contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}
.footer form {
  padding: 2.3rem 2.2rem;
  overflow: hidden;
  position: relative;
}
.footer .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.footer .input-container {
  position: relative;
  margin: 1rem 0;
}

.footer .input {
  width: 95%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

.footer textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.footer .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
 z-index:999;
  transition: 0.5s;
}

.footer .input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.footer .btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.footer .btn:hover {
  background-color: transparent;
  color: #fff;
}

.footer .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.footer .input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.footer .input-container span:before {
  left: 50%;
}

.footer .input-container span:after {
  right: 50%;
}

.footer .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.footer .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.footer .contact-info .title {
  color: #1abc9c;
}

.footer .text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.footer .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.footer .icon {
  width: 28px;
  margin-right: 0.7rem;
}

.footer .social-media {
  padding: 2rem 0 0 0;
}

.footer .social-media p {
  color: #333;
}

.footer .social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.footer .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: firebrick;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.footer .social-icons a:hover {
  transform: scale(1.05);
  color: yellow;
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.footer .big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.footer .big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.footer .square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}
/*Footer Section*/
/*Footer*/
.footer-distributed{
	background: rgba(255, 0, 0, 0.2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
    height: 60vh;
	text-align: left;
	font-family: 'Montserrat',sans-serif;
	padding: 55px 50px;
}
.footer-left img{
    margin-left: 80px;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;

}

/* The company logo */

.footer-distributed h3{
	color:  yellow;
	font: bold 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  gray;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
    font-size: 15px;
	text-decoration: none;
	color:  burlywood;
}

.footer-distributed .footer-company-name{
	color: rgb(150, 150, 150);
	font-size: 12px;
    text-emphasis-color: yellow;
	font-weight: bold;
    font-style: italic;
	margin: 0;
    font-family: 'Montserrat',sans-serif;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    margin-top: 30px;
    margin-left: 20px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p {
	color:  lightseagreen;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 18px;
	color:  blu;
	font-size: 11px;
    margin-right: 10px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



.footer-distributed .footer-icons .ab:hover{
    background-color: rgb(66,103,178);
}
.footer-distributed .footer-icons .cd:hover{
    background-color: rgb(29,161,242);
}
.footer-distributed .footer-icons .ef:hover{
    background-color: rgb(255,0,0);
}
.footer-distributed .footer-icons .gh:hover{
    background-color: #db4a39;
}