@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('http://fonts.cdnfonts.com/css/bignoodletitling');

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)),url(bgs.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}


.header{
    position: fixed;
}
#wrapper{
    margin-top: 120px;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#wrapper div{
    position: relative;
    width: 100%;
    height: 100%;
}
.textcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: white;
    text-align: center;
    padding: 0 150px;
}
.textcontent h1{
    font-size: 83px;
    font-weight: bolder;
    font-family: 'BigNoodleTitling', sans-serif;
    letter-spacing: 5px;
}
.textcontent p{
    font-family: 'Merienda';
    line-height: 50px;
    font-size: 20px;
    color: burlywood;
}
.list1 ul{
    position: absolute;
    top: 10%;
    right: 15px;
    transform: translateY(50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.list1 ul li{
    list-style: none;
}
.list1 ul li a{
    
    display: block;
    height: 45px;
    font-size: 18px;
    background: transparent;
    background-color: rgba(128,128,128,2);
    color: maroon;
    margin-top: -6px;
    padding-left: 10px;
    line-height: 45px;
}
.list1 ul li a:hover{
    background: #333;
    text-decoration: none;
    color: #fff;

}

#de{
    background-image: url(devbg.jpeg);
    background-position: center center;
    background-size: cover;
}
#de h1{
    color: brown;
}
#de p{
    color: white;
}
#ma{
    background-image: url(mobilebg.jpeg);
    background-position: center center;
    background-size: cover;
}
#ma h1{
    color: royalblue;
}
#ma p{
    color: black;
}
#des{
    background-image: url(designbg.jpeg);
    background-position: center center;
    background-size: cover;
}
#des h1{
    color: crimson;
}
#des p{
    color: blueviolet;
}
#co{
    background-image: url(consultbg.jpeg);
    background-position: center center;
    background-size: cover;
}
#co h1{
    color: yellowgreen;
}
#co p{
    color: darkblue;
}
#ved{
    background-color: peru;
    background-position: center center;
    background-size: cover;
}
#ved h1{
    color: burlywood;
}
#ved    p{
    color: saddlebrown;
}
#pps{
    background-image: url(productbg.jpeg);
    background-position: center center;
    background-size: cover;
}
#pps h1{
    color: peru;
}
#pps p{
    color: palevioletred;
}
#smm{
    background-color: rosybrown;
    background-position: center center;
    background-size: cover;
}
#smm h1{
    color: darkred;
}
#smm p{
    color: yellow;
}
#se{
    background-image: url(bgse.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#se h1{
color: burlywood;    
}
#se p{
    color: sandybrown;
}
ul .hd li a{
    text-transform: uppercase;
    font-weight: bolder;
}
.footer-distributed{
    background-image: linear-gradient(rgba(0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
}
/*Button animations*/
/*Hover effects*/
/*Development Button*/
#de a{
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    padding: 15px 30px;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
#de a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: brown;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
#de a:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1); 
}
#de a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box; 
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
#de a:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
/*Design Button*/
#des a{
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    padding: 15px 30px;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}
#des a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: crimson;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top right;
    transform: scale(0);
}
#des a:hover:before {
    transition: transform 0.5s;
    transform-origin: top right;
    transform: scale(1); 
}
#des a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #000;
    box-sizing: border-box; 
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom left;
    transform: scale(1);
}
#des a:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom left;
    transform: scale(0);
}
/*Vedio Button*/
#ved a{
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    padding: 15px 30px;
    margin-top: 100px;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
#ved a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
#ved a:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1); 
}
#ved a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box; 
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
#ved a:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
/*Social Media button*/
#smm a{
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    padding: 15px 30px;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}
#smm a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: lawngreen;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top right;
    transform: scale(0);
}
#smm a:hover:before {
    transition: transform 0.5s;
    transform-origin: top right;
    transform: scale(1); 
}
#smm a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #000;
    box-sizing: border-box; 
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom left;
    transform: scale(1);
}
#smm a:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom left;
    transform: scale(0);
}
/*Liquid Transition*/
/*Mobile App Button*/
#ma a{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    transform: translate(-50%,-50%);
    top: 180%;
    margin-top: 100px;
    left: 50%;
    overflow: hidden;
}
#ma a span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}
#ma a:hover .liquid{
    top: -180px;
}
#ma a .liquid{
    position: absolute;
    left: 0;
    top: -120px;
    width: 300px;
    height: 300px;
    background: blue;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: 0.5s;
}
#ma a .liquid::before,
#ma a .liquid::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);    
}
#ma a .liquid::before{
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}
#ma a .liquid::after{
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
/*Consultancy Button*/
#co a{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    transform: translate(-50%,-50%);
    top: 180%;
    margin-top: 100px;
    left: 50%;
    overflow: hidden;
}
#co a span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}
#co a:hover .liquid{
    top: -180px;
}
#co a .liquid{
    position: absolute;
    left: 0;
    top: -120px;
    width: 300px;
    height: 300px;
    background: crimson;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: 0.5s;
}
#co a .liquid::before,
#co a .liquid::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);    
}
#co a .liquid::before{
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}
#co a .liquid::after{
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
/*PPS Button*/
#pps a{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    transform: translate(-50%,-50%);
    top: 180%;
    margin-top: 100px;
    left: 50%;
    overflow: hidden;
}
#pps a span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
}
#pps a:hover .liquid{
    top: -180px;
}
#pps a .liquid{
    position: absolute;
    left: 0;
    top: -120px;
    width: 300px;
    height: 300px;
    background: red;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: 0.5s;
}
#pps a .liquid::before,
#pps a .liquid::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);    
}
#pps a .liquid::before{
    border-radius: 45%;
    background: rgba(20,20,20,1);
    animation: animate 5s linear infinite;
}
#pps a .liquid::after{
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}